;;;
"title" : "Vacances 2015 | Nantes -- London -- Bruxelles ",
"description" : "Les vacances, quoi"
;;;

	<div id="index" class="off">
		<div class="leftSide">
			<div class="intro element shadow autoLiner">
				<article>
					<img src="img/logo.png" alt="logo" />
					<h1>Vacances <span>2015</span></h1>
					<h2>Nantes -- London -- Bruxelles</h2>
				</article>
			</div>

			<a class="line" href="#">
				<div class="col shadow" style="background-image:url('img/nantes.jpg');">
				</div>
				<div class="col shadow blue autoLiner" >
					<article>
						<h3>Hors serie</h3>
						<hr/>
						<h2>Le voyage a <span>Nantes</span></h2>
					</article>
				</div>
			</a>
		</div>
		<div class="rightSide">
			<div class="entry red shadow">
				<img src="img/london.jpg" alt="" />
				<article class="smartLine">
					<div>
						<h3>Partie 1</h3>
						<hr/>
						<h2><span>London</span></h2>
					</div>
				</article>
				<ul>
					<li><a href="#">Jour 1</a></li>
					<li><a href="#">Jour 2</a></li>
					<li><a href="#">Jour 3</a></li>
				</ul>
			</div>
			<div class="entry yellow shadow">
				<img src="img/bruxelles.jpg" alt="" />
				<article class="smartLine">
					<div>
						<h3>Partie 2</h3>
						<hr/>
						<h2><span>Bruxelles</span></h2>
					</div>
				</article>
				<ul>
					<li><a href="#">Jour 1</a></li>
					<li><a href="#">Jour 2</a></li>
					<li><a href="#">Jour 3</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="content" class="red">
		<div class="backLayer"></div>
		<header class="contentHead">
			<a href="index.html" class="back"><i class="fa fa-arrow-left"></i></a>
			<h2>London <span>Jour 1</span></h2>
		</header>
		<div class="wysiwyg">
			<article class="shadow">
				<img src="img/panorama.jpg" alt="" />	

				<h2>Titre</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>

				<h3>Titre</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>

				<h4>Titre</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>

				<h5>Titre</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>

				<img src="img/panorama.jpg" alt="" />	

				<h2>Titre</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>

				<h3>Titre</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, iste, dolores. Sit alias quod adipisci dolorem impedit hic animi eum quasi expedita, repellendus modi natus numquam veritatis, deleniti, reiciendis harum?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eum earum porro tenetur deserunt quod architecto obcaecati doloribus cum. Eius officia enim labore accusantium dolor aperiam minus necessitatibus dolorum inventore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio qui ipsa facilis illo officia a eveniet excepturi ex libero nesciunt nulla eos suscipit blanditiis vitae aspernatur exercitationem saepe, similique voluptatem!</p>
			</article>
		</div>
	</div>