;;;
"title" : "Vacances 2015 | Nantes -- London -- Bruxelles ",
"description" : "Les vacances, quoi"
;;;

	<div id="index">
		<div class="leftSide">
			<div class="intro element shadow autoLiner">
				<article>
					<img src="img/logo.png" alt="logo" />
					<h1>Vacances <span>2015</span></h1>
					<h2>Nantes -- London -- Bruxelles</h2>
				</article>
			</div>

			<a class="line" href="detail.html">
				<div class="col shadow" style="background-image:url('img/nantes.jpg');">
				</div>
				<div class="col shadow blue autoLiner" >
					<article>
						<h3>Hors serie</h3>
						<hr/>
						<h2>Le voyage a <span>Nantes</span></h2>
					</article>
				</div>
			</a>
		</div>
		<div class="rightSide">
			<div class="entry red shadow">
				<img src="img/london.jpg" alt="" />
				<article class="smartLine">
					<div>
						<h3>Partie 1</h3>
						<hr/>
						<h2><span>London</span></h2>
					</div>
				</article>
				<ul>
					<li><a href="detail.html">Jour 1</a></li>
					<li><a href="detail.html">Jour 2</a></li>
					<li><a href="detail.html">Jour 3</a></li>
				</ul>
			</div>
			<div class="entry yellow shadow">
				<img src="img/bruxelles.jpg" alt="" />
				<article class="smartLine">
					<div>
						<h3>Partie 2</h3>
						<hr/>
						<h2><span>Bruxelles</span></h2>
					</div>
				</article>
				<ul>
					<li><a href="detail.html">Jour 1</a></li>
					<li><a href="detail.html">Jour 2</a></li>
					<li><a href="detail.html">Jour 3</a></li>
				</ul>
			</div>
		</div>
	</div>