.shadow{
	@include box-shadow(4px 0px 16px 0px rgba(50,50,50,0.2));
}

#spinner{
	position:fixed;
	width:100px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-50px;
	z-index:99999;
	span{
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		//@include animation(rotate 1s ease-out infinite);
		&:after{
			content:"";
			width:20px;
			height:20px;
			@include border-radius(100%);
			position:absolute;
		}
		&.red{
			@include animation(rotate 1s ease-out 0s infinite);
			&:after{
				background:#f54e65;
				top:50%;
				left:-10;
				margin-top:-10px;
				@include animation(summerSault 1s ease-out 0s infinite);
			}
		}
		&.blue{
			@include animation(rotate 1s ease-out 0.1s infinite);
			&:after{
				background:#89e5f0;
				bottom:-10px;
				left:50%;
				margin-left:-10px;
				@include animation(summerSault 1s ease-out 0.1s infinite);
			}
		}
		&.yellow{
			@include animation(rotate 1s ease-out 0.2s infinite);
			&:after{
				background:#f9de8b;
				bottom:50%;
				right:-10%;
				margin-bottom:-10px;
				@include animation(summerSault 1s ease-out 0.2s infinite);
			}
		}
	}
	&.ng-animate{
		@include transition(all 300ms ease-out);
	}
	&.ng-hide{
		@include opacity(0);
	}
	&.ng-hide-add{
		-webkit-animation-name: fadeOut;
        animation-name: fadeOut;
	}
	&.ng-hide-remove{
		-webkit-animation-name: fadeIn;
        animation-name: fadeIn;
	}
}

.view.ng-leave {
	@include transition(all 500ms ease-out);
}
.view.ng-leave-active {
    #index{
		@include transform(matrix(0.8,0,0,0.8,0,0));
		opacity:0;
    }
    #content{
    	.backLayer{
    		opacity:0;
    	}
    	.contentHead{
    		opacity:0;
    	}
    	.wysiwyg article{
	        -webkit-animation-name: fadeOutDown;
            animation-name: fadeOutDown;
    	}
    }
}

// Gallery
.foogallery-container{
	img{
		height:auto !important;
		@include transition(all 300ms ease-out);
	}
	.caption{
		display:none !important;
	}
	a{
		&:hover{
			img{
				@include opacity(0.8);
				@include transform(scale(1.03));
			}
		}
		&:active, &:focus{
			outline:0px;
		}
	}
}

// Animate gallery popin
.mfp-fade.mfp-bg {
  @include opacity(0);
  @include transition(all 0.15s ease-out);
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  @include opacity(0.8);
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  @include opacity(0);
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-img {
  @include opacity(0);
  @include transition(all 0.15s ease-out);
  @include transform(translateY(-30px));
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-img {
  @include opacity(1);
  @include transform(translateY(0px));
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-img {
  @include opacity(0);
  @include transform(translateY(-30px));
}